[submodule "third_party/llm-serving-workloads"]
	path = third_party/llm-serving-workloads
	url = git@github.com:intellistream/llm-serving-workloads.git
	branch = feat/request-lifecycle-profiler-llm-serving-workloads
[submodule "third_party/vllm-hust"]
	path = third_party/vllm-hust
	url = git@github.com:vLLM-HUST/vllm-hust.git
	branch = feat/request-lifecycle-profiler-vllm-hust
[submodule "third_party/vllm-hust-dev-hub"]
	path = third_party/vllm-hust-dev-hub
	url = git@github.com:vLLM-HUST/vllm-hust-dev-hub.git
	branch = feature/request-lifecycle-profiler-dev-hub
