[submodule "third_party/llm-serving-workloads"]
	path = third_party/llm-serving-workloads
	url = git@github.com:intellistream/llm-serving-workloads.git
	branch = feat/request-lifecycle-profiler-llm-serving-workloads
[submodule "third_party/vllm-hust"]
	path = third_party/vllm-hust
	url = git@github.com:vLLM-HUST/vllm-hust.git
	branch = feature/kvdelta-runtime-integration-v023
[submodule "third_party/vllm-hust-dev-hub"]
	path = third_party/vllm-hust-dev-hub
	url = git@github.com:vLLM-HUST/vllm-hust-dev-hub.git
	branch = feature/request-lifecycle-profiler-dev-hub
[submodule "third_party/vllm-ascend-hust"]
	path = third_party/vllm-ascend-hust
	url = https://github.com/vLLM-HUST/vllm-ascend-hust.git
	branch = feature/kvdelta-runtime-integration-v023
[submodule "third_party/oasst1"]
	path = third_party/oasst1
	url = https://huggingface.co/datasets/OpenAssistant/oasst1
[submodule "third_party/traceloom"]
	path = third_party/traceloom
	url = https://github.com/vLLM-HUST/vllm-hust-perf-analyzer.git
